@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400);

a {
  color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 15vw;
    height: 100%;

    background-color: rgb(230, 230, 230);
}

#navbar img {
    width: 13vw;
    height: 13vw;

    display: block;
    margin: 0 auto;
}

#navbar h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5vw;
}

#navbar #navlist li button {
    width: 15vw;
    height: 6vh;

    border: none;

    background-color: rgb(240, 240, 240);
    transition: 1s ease;
    outline: none;
}

#navbar #navlist li button:hover {
    background-color: rgb(255, 255, 255);
    transition: 1s ease;
}

#home,
#portfolio,
#contact {
    display: none;
}

#main.home #home,
#main.portfolio #portfolio,
#main.contact #contact {
    display: block;
}

#navbar #navlist li .active {
    background-color: rgb(255, 255, 255);
}

#navbar #navlist li .active:hover {
    background-color: rgb(255, 255, 255);
}

#home, #portfolio, #contact {
  width: 60vw;
  height: 100%;
  position: absolute;
  left: 16vw;
}

